.root
{
    background-color: gold;
}

.container
{
    background-color: gold;
}

.container
{
    color: black;
}

img
{
    width: inherit;
}

.row
{
    text-align: center;
    font-size: 1.3em;
}