.root
{
    background-color: gold;
}

.container
{
    background-color: gold;
}

.container
{
    color: black;
}

img
{
    width: inherit;
}

.row
{
    text-align: center;
    font-size: 1.3em;
}

.circle
{
    box-sizing: border-box;
    border: 2px solid grey;
    
    width: 100px;
    height: 100px;

    font-size: 50px;

    border-radius: 100%;
    display: inline-block;
    text-align: center;

    background-image: url('/assets/imgs/photo.jpg');
}