.carousel-indicators
{
    background-color: black;
    opacity: 0.3;
}

.carousel-control-next-icon
{
    background-color: black;
}

.carousel-control-prev-icon
{
    background-color: black;
}

.btn
{
    margin-bottom: 10px;
}