.root
{
    margin-top: 10px;
}
.carousel-indicators
{
    background-color: black;
    opacity: 0.3;
}

.carousel-control-next-icon
{
    background-color: black;
}

.carousel-control-prev-icon
{
    background-color: black;
}

.btn
{
    margin-bottom: 20px;
}

.carousel-item
{
    height: 300px;
}

.card
{
    height: 600px;
}