<div class="root">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">E-mail: hong-duc.ta@protonmail.com</h5>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Téléphone: 07 85 50 08 23</h5>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">GitHub: <a href="https://github.com/HongDucTa" target="_blank" rel="noopener noreferrer">https://github.com/HongDucTa</a></h5>
    </div>
  </div>
</div>