<div class="root">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Diplôme d'ingénieur, École Supérieure d'Ingénieurs Léonard de Vinci (ESILV), La Défense</h5>
      <p class="card-text">Septembre 2017 - Septembre 2020</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Classe préparatoire aux grandes écoles scientifique option MP, Lycée Camille Pissarro, Pontoise</h5>
      <p class="card-text">Septembre 2015 - Juillet 2017</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Baccalauréat scientifique option Informatique, Lycée Jules Ferry, Conflans-Sainte-Honorine</h5>
      <p class="card-text">Septembre 2012 - Juillet 2015</p>
    </div>
  </div>
</div>